<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.fighter.study.mapper.SysMenuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sun.fighter.study.system.domain.SysMenu">
        <id column="sys_menu_id" property="sysMenuId" />
        <result column="name" property="name" />
        <result column="parent_id" property="parentId" />
        <result column="type" property="type" />
        <result column="url" property="url" />
        <result column="icon" property="icon" />
        <result column="show_flag" property="showFlag" />
        <result column="permission" property="permission" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_id" property="createId" />
        <result column="update_id" property="updateId" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sys_menu_id AS sysMenuId, name, parent_id AS parentId, type, url, icon, show_flag AS showFlag, permission, sort, status, remark, create_id AS createId, update_id AS updateId, create_date AS createDate, update_date AS updateDate
    </sql>

</mapper>
