<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}" media="all"/>
</head>
<body style="padding: 5px;">

    <div class="layui-inline">
        <button class="layui-btn" data-type="reload">新增</button>
    </div>
    <div class="layui-inline" STYLE="width: 300px;">
        <input type="text" id="iconPicker" lay-filter="iconPicker" class="layui-input">
    </div>
<table id="menuTable" class="layui-table" lay-filter="menuTable"></table>

<!-- 操作列 -->
<script type="text/html" id="menuOperator">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/javascript" src="/plugins/layui/layui.js"></script>
<script type="text/javascript" src="/js/system/menuList.js"></script>
</body>
</html>